/* see http://kb.mozillazine.org/Thunderbird_3.0_-_New_Features_and_Changes/Themes */


/* --- Use Dot for Unstarred Messages instead of the Empty Star --- */

/* -- Windows -- */

treechildren::-moz-tree-image(flaggedCol) {
  list-style-image: url("chrome://messenger/skin/icons/readmail.png") !important;
  -moz-padding-start: 0px !important;
  -moz-margin-start: -3px !important;
}

/* On Windows, you can replace "flag.png" with "flag-col.png" to get a smaller star. */
treechildren::-moz-tree-image(flaggedCol, flagged) {
  list-style-image: url("chrome://messenger/skin/icons/flag.png") !important;
}

/* -- Linux -- */

/*
treechildren::-moz-tree-image(flaggedCol) {
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}

treechildren::-moz-tree-image(flaggedCol, flagged) {
  -moz-image-region: rect(80px 16px 96px 0px) !important;
}
*/


/* --- Color for New Mail --- */

treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
  font-weight: bold;
  color: #000000 !important;
}

/*
treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true) {
  color: red !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true, selected, focus) {
  color: orange !important;
}
*/


/* --- Add Back Asterisk on Folder Icons --- */

/* -- Windows -- */

treechildren::-moz-tree-image(folderNameCol, newMessages-true) {
  -moz-image-region: rect(16px 16px 32px 0) !important;
}

treechildren::-moz-tree-image(folderNameCol, selected, open, newMessages-true) {
  -moz-image-region: rect(16px 32px 32px 16px) !important;
}

treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox, newMessages-true) {
  -moz-image-region: rect(16px 48px 32px 32px) !important;
}

treechildren::-moz-tree-image(folderNameCol, specialFolder-Virtual, newMessages-true) {
  -moz-image-region: rect(16px 176px 32px 160px) !important;
}


/* --- Restore the Tree Lines --- */

#folderTree > treechildren::-moz-tree-line {
  visibility: visible !important;
}

#accounttree > treechildren::-moz-tree-line {
  visibility: visible !important;
}
